/*Global styles
---------------------------------*/
body {
  color: #343434;
}

img {
  width: 300px;
}

h1 {
  color: red;
}

/*Profile
---------------------------------*/
header {
  background: #2f3061;
}

/*Projects
---------------------------------*/

/*Work experience
---------------------------------*/

/*Education
---------------------------------*/

/*Contact Info
---------------------------------*/
